{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        {% if app.app_label == "auth" %}
            {% include "admin/index_main_table.html" with section_label=app.app_label section_name=app.name %}
        {% endif %}
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to view or edit anything." %}</p>
{% endif %}

        <div class="app-reference module">
        <table>
        <caption>
            références
        </caption>
            <tbody><tr class="model-category">
                <th scope="row"><a href="/category/category/">Catégories</a></th>
                <td><a href="/category/category/add/" class="addlink">Ajouter</a></td>
                <td><a href="/category/category/" class="viewlink">Afficher</a></td>
            </tr>
            <tr class="model-account">
                <th scope="row"><a href="/account/account/">Comptes</a></th>
                <td><a href="/account/account/add/" class="addlink">Ajouter</a></td>
                <td><a href="/account/account/" class="viewlink">Afficher</a></td>
            </tr>
            <tr class="model-source">
                <th scope="row"><a href="/source/source/">Postes de dépense</a></th>
                <td><a href="/source/source/add/" class="addlink">Ajouter</a></td>
                <td><a href="/source/source/" class="viewlink">Afficher</a></td>
            </tr>
        </tbody></table>
        </div>

        <div class="app-transaction module">
        <table>
        <caption>
            transaction
        </caption>
            <tr class="model-transaction">
                <th scope="row"><a href="/transaction/transaction/">Transaction</a></th>
                <td><a href="/transaction/transaction/add/" class="addlink">Ajouter</a></td>
                <td><a href="/transaction/transaction/" class="changelink">Modifier</a></td>
            </tr>
            <tbody><tr class="model-expense">
                <th scope="row"><a href="/transaction/expense/">Dépenses</a></th>
                <td><a href="/transaction/expense/add/" class="addlink">Ajouter</a></td>
                <td><a href="/transaction/expense/" class="changelink">Modifier</a></td>
            </tr>
            <tr class="model-foresight">
                <th scope="row"><a href="/transaction/directdebit/">Prélèvements</a></th>
                <td><a href="/transaction/directdebit/add/" class="addlink">Ajouter</a></td>
                <td><a href="/transaction/directdebit/" class="changelink">Modifier</a></td>
            </tr>
        </tbody></table>
        </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}


</div>